{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item"><a href="https://www.linkedin.com/in/felipeparodi/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="masthead__social-icons" style="float: right; margin-top: 10px; margin-right: 10px; white-space: nowrap;">
      {% for link_hash in site.social.links %}
        {% assign link = link_hash %}
        {% if link contains "github.com" %}
          {% assign icon_name = "fa fa-github" %}
          {% assign service_name = "GitHub" %}
        {% elsif link contains "linkedin.com" %}
          {% assign icon_name = "fa fa-linkedin" %}
          {% assign service_name = "LinkedIn" %}
        {% elsif link contains "scholar.google.com" %}
          {% assign icon_name = "fa fa-graduation-cap" %}
          {% assign service_name = "Google Scholar" %}
        {% elsif link contains "twitter.com" or link contains "x.com" %}
          {% assign icon_name = "fa fa-twitter" %}
          {% assign service_name = "Twitter" %}
        {% else %}
          {% assign icon_name = "fa fa-link" %}
          {% assign service_name = "Website" %}
        {% endif %}
        <a href="{{ link }}" title="{{ service_name }}" target="_blank" rel="noopener noreferrer" style="display: inline-block; margin-left: 8px;"><i class="{{ icon_name }}"></i></a>
      {% endfor %}
    </div>
  </div>
</div>